= link_to "Pick Student", pick_students_path, class: "button", method: "PUT"

%ul#students= render students

= simple_form_for @student do |s|
  = s.input :name
  = s.submit "Create Student", class: "button"

